@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-manrope: var(--font-manrope);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: rgb(8, 8, 8);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}





@layer utilities {
  /* Remove ícones do input date/time */
  .no-picker::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  .no-picker {
    -moz-appearance: textfield; /* Firefox */
  }
}


.hide-scrollbar {
  -ms-overflow-style: none; /* IE e Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari e Opera */
}



/* Barra dos dias da semana */
.fc-col-header-cell {
  background-color: #090909;
  color: #fff;
}


input,
button,
select,
textarea,
option,
label {
  color: #ffffff;
}

input::placeholder,
textarea::placeholder {
  color: #ededed;
}



.fc,
.fc * {
  color: #ededed !important;
}


.fc-event-title,
.fc-event-time {
  color: #ededed !important;
}




